<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>キャンプマップ-詳細</title>
</head>

<body>
<h1>詳細画面</h1>

<div class="detail_list">

    <table>
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>キャンプ場名</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>サイトのURL</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="detail : ${detailList}"}>
            <td class="hidden" th:text="${detail.id}"}></td>
            <td th:text="${detail.name}"></td>
            <td th:text="${detail.address}"></td>
            <td th:text="${detail.telephone}"></td>
            <td th:text="${detail.url}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>