<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>詳細画面</title>-->
<!--</head>-->

<!--<body>-->
<!--<h1>詳細画面</h1>-->

<!--<div class="detai_llist">-->

<!--    <table border="1" style="border-collapse:collapse;">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th class="hidden">ID</th>-->
<!--            <th>キャンプ場名</th>-->
<!--            <th>住所</th>-->
<!--            <th>電話番号</th>-->
<!--            <th>サイトのURL</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr th:each="detail : ${detailList}"}>-->
<!--            <td class="hidden" th:text="${detail.id}"}></td>-->
<!--            <td th:text="${detail.name}"></td>-->
<!--            <td th:text="${detail.address}"></td>-->
<!--            <td th:text="${detail.telephone}"></td>-->
<!--            <td th:text="${detail.url}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->