<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <a href="/campmap/register">登録へ</a>
    <title>キャンプマップ-一覧</title>
</head>

<body>
<h1>一覧画面</h1>
<div class="ken_form">
    <h3>キャンプ場一覧を選択した都道府県のキャンプ場に更新します。</h3>

    <form th:action="@{/campmap/update}" method="post" th:object="${myForm}">
        <select th:field="*{selectedValue}" onchange="">
            <option th:each="option : *{options()}"
                    th:value="${option.key}"
                    th:text="${option.value}">
            </option>
        </select>

        <input type="submit" value="更新" />
    </form>
</div>

<div class="camplist">
    <h2 id="camp_list">キャンプ場一覧</h2>

    <table>
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>番号</th>
            <th>キャンプ場名</th>
            <th>住所</th>
            <th>詳細</th>
            <th>削除</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="camp : ${campList}"}>
            <td class="hidden" th:text="${camp.id}"}></td>
            <td th:text="${camp.number}"></td>
            <td th:text="${camp.name}"></td>
            <td th:text="${camp.address}"></td>
            <td>
<!--                <a href="/campmap/detail">詳細へ</a>-->
                <form th:action="@{/campmap/detail/{camp.id}}">
                    <button type="submit">詳細へ</button>
                    <input type="hidden" name="id" th:value="${camp.id}" />
                </form>
            </td>
            <td>
                <form th:action="@{/campmap/delete}">
                    <button type="submit">削除</button>
                    <input type="hidden" name="id" th:value="${camp.id}" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>