<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>キャンプマップ</title>
</head>

<body>
<h1>一覧表示</h1>

<div class="ken_form">
    <h2>都道府県を選んでください</h2>

    <form th:action="@{campmap/add}" method="post" th:object="${myForm}">
        <select th:field="*{selectedValue}">
            <option th:each="option : *{options()}"
                    th:value="${option.key}"
                    th:text="${option.value}">
            </option>
        </select>

        <input type="submit" value="更新" />
    </form>
</div>

<div class="camplist">
    <h2>キャンプ場一覧</h2>

    <table border="1" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th>番号</th>
            <th>キャンプ場名</th>
            <th>県</th>
            <th>市</th>
            <th>詳細</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="camp : ${campList}"}>
            <td class="hidden" th:text="${camp.id}"}></td>
            <td th:text="${camp.number}"></td>
            <td th:text="${camp.name}"></td>
            <td th:text="${camp.ken}"></td>
            <td th:text="${camp.city}"></td>
            <td th:text="${camp.detail}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>